<div class="hl-push-card">
    <div class="hl-card-header">
        <h3>{{localize "HIDDEN_LONDON.Push.Title"}}</h3>
        <div class="hl-card-position">
            {{attributeLabel}}
            {{#if zeroMode}} | 0d{{/if}}
        </div>
    </div>

    <div class="hl-push-result">
        <ol class="dice-rolls">
            {{#each allDice}}
            <li class="roll die d6"
                {{#if (eq this 6)}}style="color: green;"
                {{else if (lteq this 3)}}style="color: red;"
                {{/if}}>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    <div class="hl-stress-result {{#if isCritical}}critical{{/if}}">
        {{#if isCritical}}
            <strong>{{localize "HIDDEN_LONDON.Outcome.Critical"}}!</strong>
            {{localize "HIDDEN_LONDON.Push.StressNone"}}
        {{else}}
            {{localize "HIDDEN_LONDON.Push.StressLabel"}}: <strong>{{stressCost}}</strong>
        {{/if}}
    </div>
</div>
